* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #242424;
  padding: 15px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .sign-in a {
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}
.header .container .sign-in a:hover {
  color: #6181F3;
}

.option .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.option .container .logo2 img {
  width: 50px;
}
.option .container .menu a {
  text-decoration: none;
  color: #242424;
  padding: 0 20px;
  position: relative;
}
.option .container .menu a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  background-color: #242424;
  transition: all 0.3s;
}
.option .container .menu a:hover::after {
  transform: scaleX(1);
}
@media only screen and (max-width: 768px) {
  .option .container .menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .option .container .search a {
    text-align: center;
    display: block;
  }
}
.carousel {
  background-color: #242424;
}
.carousel .container {
  padding: 100px;
}
.carousel .container .row .left .card {
  width: 70%;
  margin: 0 auto;
}
.carousel .container .row .left .card .card-header img {
  width: 100%;
}
.carousel .container .row .right #product-name-detail {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.carousel .container .row .right #product-desc-detail {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
.carousel .container .row .right .available-size {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.carousel .container .row .right .size {
  display: flex;
  flex-wrap: wrap;
}
.carousel .container .row .right .size .size-detail {
  margin-left: 10px;
  text-decoration: none;
  padding: 10px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  color: #242424;
}
.carousel .container .row .right .size .size-detail:hover {
  font-weight: 700;
}
@media only screen and (max-width: 920px) {
  .carousel .container .row .right .size .size-detail {
    text-align: center;
    margin-bottom: 10px;
    width: 20%;
  }
}
.carousel .container .row .right #price-detail {
  margin: 25px 0;
  font-size: 20px;
  font-weight: 500;
  color: #fa3e3e;
}
.carousel .container .row .right .quantity {
  margin-bottom: 30px;
}
.carousel .container .row .right .quantity #btnIncrease {
  padding: 10px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
}
.carousel .container .row .right .quantity #btnDecrease {
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  padding: 10px;
}
.carousel .container .row .right #btnCart {
  padding: 20px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
}

.product-feature {
  background-color: #242424;
  padding: 70px 0;
}
.product-feature h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #6181F3;
}
.product-feature .container .row .col-3 .card {
  height: 600px;
  margin: 20px 10px;
}
.product-feature .container .row .col-3 .card:hover {
  box-shadow: 14px 21px 82px 10px rgba(0, 0, 0, 0.75);
}
.product-feature .container .row .col-3 .card .card-header {
  height: 80%;
}
.product-feature .container .row .col-3 .card .card-header img {
  width: 100%;
}
.product-feature .container .row .col-3 .card .card-body .name-item {
  font-size: 20px;
  font-weight: 700;
  color: #242424;
}
.product-feature .container .row .col-3 .card .card-body .desc-item {
  font-size: 16px;
  font-weight: 400;
  color: #afa7a7;
}
.product-feature .container .row .col-3 .card .card-body a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #fa3e3e;
}
.product-feature .container .row .col-3 .card .card-body .price {
  font-size: 20px;
  font-weight: 700;
  color: #242424;
}
@media only screen and (max-width: 992px) {
  .product-feature .container .row {
    display: flex;
  }
  .product-feature .container .row .col-3 {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 768px) {
  .product-feature .container .row {
    display: flex;
  }
  .product-feature .container .row .col-3 {
    width: 50%;
  }
}

.footer .container .row .col-3 h1 {
  font-size: 30px;
  font-weight: 700;
  color: #242424;
}
.footer .container .row .col-3 p {
  font-size: 16px;
  font-weight: 300;
  color: #242424;
}
.footer .container .row .col-3 a {
  margin: 0 10px;
  font-size: 30px;
  font-weight: 300;
  color: #6181F3;
}
@media only screen and (max-width: 992px) {
  .footer .container .row {
    display: flex;
  }
  .footer .container .row .col-3 {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .footer .container .row {
    display: flex;
  }
  .footer .container .row .col-3 {
    width: 100%;
  }
}