* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #242424;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #242424;
  padding: 15px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .sign-in a {
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}
.header .container .sign-in a:hover {
  color: #6181F3;
}

.form-register .container {
  width: 50%;
}
.form-register .container .card .card-header h1 {
  text-align: center;
  background-color: #fff;
}
.form-register .container .card .card-body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.form-register .container .card .card-body input {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.form-register .container .card .card-body .gender {
  background-color: #fff;
}
.form-register .container .card .card-body .gender label {
  background-color: #fff;
}
.form-register .container .card .card-footer button {
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
  display: block;
  color: #fff;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
}

.footer {
  padding-top: 70px;
}
.footer .container .row .col-4 h1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.footer .container .row .col-4 p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.footer .container .row .col-4 a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  color: #fa3e3e;
}