// --------color-----------------
$text-light:#fff;
$text-dark:#242424;
$c1-text-dark:#afa7a7;
$text-hope:#1877f2;
$text-dangerous:#fa3e3e;
$text-special:#6181F3;

// ----------font-size----------------
$fs-base:16px;
$fs-xl:18px;
$fs-2xl:20px;
$fs-3xl:30px;
$fs-4xl:40px;
$fs-5xl:50px;
$fs-6xl:60px;
$fs-7xl:70px;
$fs-8xl:80px;
$fs-9xl:90px;
// ------------------font-weight-------------
$fw-line:300;
$fw-normal:400;
$fw-semiBold:500;
$fw-bold:700;

// -----------------background--------------
$bg-light:#fff;
$bg-dark:#242424;
$bg-hope:#1877f2;
$bg-dangerous:#fa3e3e;

// ------------------mixin---------------------------
@mixin text($fs,$fw,$c){
    font-size: $fs ;
    font-weight: $fw;
    color: $c;
}

// ----------------Css utility------------------

// ------------------function--------------------



// -----------------loop-----------------------






// ----------------------global-------------
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}



// ------------------header-----------------------
.header {
    background-color: $bg-dark;
    padding: 15px 0;
    .container{
        display: flex;
        justify-content: space-between;
        .logo{
            img{

            }
        }
        .sign-in{           
            a{
               padding: 0 5px;
               text-decoration: none;
               color:$text-light;
               &:hover{
                color: $text-special;
               }
            }
        }
    }
}

// ----------------option--------------------

.option{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        .logo2{
            img{
                width: 50px;
            }
        }
        .menu{
            a{
                text-decoration: none;
                color:$text-dark;
                padding: 0 20px;
                position: relative;
                &::after{
                    position: absolute;
                    bottom:0;
                    left: 0;
                    content: "";
                    width: 100%;
                    transform:scaleX(0);
                    height: 3px;
                    background-color:$text-dark;
                    transition: all 0.3s;
                }
                &:hover{
                    &::after{
                        transform: scaleX(1);
                    }
                }
            }
            @media only screen and (max-width:768px) {
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
           
        }
        .search{
            a{
                @media only screen and (max-width:768px) {
                    text-align: center;
                    display: block;   
                }
            }
            input{
                
            }
        }
        
    }
}

// -----------------carousel----------------------------------
 .carousel{
    background-color: $bg-dark;
    .container{
        padding: 100px;
        .row{
            .left{
                .card{
                    width: 70%;
                    margin: 0 auto;
                    .card-header{
                        img{
                            width: 100%;
                        }
                    }
                    .card-body{

                    }
                }
                
            }
            .right{
                #product-name-detail{
                    @include text($fs-4xl,$fw-bold,$text-light )
                }
                #product-desc-detail{
                    @include text($fs-base,$fw-line,$text-light )

                }
                .available-size{
                    @include text($fs-2xl,$fw-bold,$text-light )

                }
                .size{
                   display: flex;
                   flex-wrap: wrap;
                    .size-detail{
                        margin-left: 10px;
                        text-decoration: none;
                        padding: 10px;
                        background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
                        color: $text-dark;
                        &:hover{
                            font-weight: 700;
                            
                        }
                        @media only screen and (max-width:920px) {
                            text-align: center;
                            margin-bottom: 10px;
                            
                            width: calc(100%/5)
                        }
                    }

                }
                #price-detail{
                    margin: 25px 0;
                    @include text($fs-2xl,$fw-semiBold,$text-dangerous )

                }
                .quantity{
                    margin-bottom: 30px;
                    #btnIncrease{
                        padding: 10px;
                        background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
                    }
                    #quantity-numer{
                        
                    }
                    #btnDecrease{
                        background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
                        padding: 10px;
                    }
                }
                #btnCart{
                    padding: 20px;
                    background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
                }
            }
        }
    }
 }

//  -------------------product-feature-----------------------
.product-feature{
    background-color: #242424;
    padding:70px 0 ;
    h1{
        text-align: center;
        @include text($fs-5xl,$fw-bold,$text-special);
    }
    .container{
        .row{
            .col-3{
                .card{                   
                    height: 600px;
                    margin: 20px 10px;
                    &:hover{
                        box-shadow: 14px 21px 82px 10px rgba(0,0,0,0.75);
                    }
                    .card-header{
                        height: 80%;
                        img{
                            width: 100%;
                     
                        }
                    }
                    .card-body{
                       
                        .name-item{
                            @include text($fs-2xl,$fw-bold,$text-dark);
                        }
                        .desc-item{
                            @include text($fs-base,$fw-normal,$c1-text-dark);
                        }
                        a{
                            text-decoration: none;
                            @include text($fs-base,$fw-normal,$text-dangerous);  
                        }
                        .price{
                            @include text($fs-2xl,$fw-bold,$text-dark);
                        }
                        
                    }
                }              
            }
            @media only screen and (max-width:992px) {
                
                display: flex;
                // flex-direction: column;
                .col-3{
                    width: calc(100%/3)

                }
            }
            @media only screen and (max-width:768px) {
                
                display: flex;
                // flex-direction: column;
                .col-3{
                    width: calc(100%/2)

                }
            }
        }
    }
}
// ---------------------footer------------------------
.footer{
    .container{
        .row{
            .col-3{
                h1{
                    @include text($fs-3xl,$fw-bold,$text-dark);  
                }
                p{
                    @include text($fs-base,$fw-line,$text-dark);  
                }

                a{
                    margin: 0 10px;
                    @include text($fs-3xl,$fw-line,$text-special);
                }
            }
            @media only screen and (max-width:992px) {
                
                display: flex;
                
                .col-3{
                    width: calc(100%/2)

                }
            }
            @media only screen and (max-width:576px) {
                
                display: flex;
                
                .col-3{
                    width: 100%;

                }
            }
        }
    }
}