// --------color-----------------
$text-light:#fff;
$text-dark:#242424;
$c1-text-dark:#afa7a7;
$text-hope:#1877f2;
$text-dangerous:#fa3e3e;
$text-special:#6181F3;


// ----------font-size----------------
$fs-small:12px;
$fs-semibase:14px;
$fs-base:16px;
$fs-xl:18px;
$fs-2xl:20px;
$fs-3xl:30px;
$fs-4xl:40px;
$fs-5xl:50px;
$fs-6xl:60px;
$fs-7xl:70px;
$fs-8xl:80px;
$fs-9xl:90px;
// ------------------font-weight-------------
$fw-line:300;
$fw-normal:400;
$fw-semiBold:500;
$fw-bold:700;

// -----------------background--------------
$bg-light:#fff;
$bg-dark:#242424;
$bg-hope:#1877f2;
$bg-dangerous:#fa3e3e;

// ------------------mixin---------------------------
@mixin text($fs,$fw,$c){
    font-size: $fs ;
    font-weight: $fw;
    color: $c;
}

// ----------------Css utility------------------

// ------------------function--------------------



// -----------------loop-----------------------







// ----------------------global-------------
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color:$bg-dark;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}



// ------------------header-----------------------
.header {
    background-color: $bg-dark;
    padding: 15px 0;
    .container{
        display: flex;
        justify-content: space-between;
        .logo{
            img{

            }
        }
        .sign-in{           
            a{
               padding: 0 5px;
               text-decoration: none;
               color:$text-light;
               &:hover{
                color: $text-special;
               }
            }
        }
    }   
}
// ---------------------form-register----------------
.form-register{
    .container{
        width: 50%;
        .card{
           
            .card-header{
                h1{
                    text-align: center;
                      background-color: $bg-light;  
                }
            }
            .card-body{
                background-color: $bg-light;
                display: flex;
                flex-direction: column;
                input{
                    padding: 10px;
                    margin: 10px;
                    background-color: $bg-light;
                    border-radius: 5px;
                }
                .gender{
                    background-color: $bg-light;
                        input{

                        }
                        label{
                            background-color: $bg-light;                           
                        }
                }
            }
            .card-footer{
                    button{
                        padding: 5px;
                        border-radius: 5px;
                        width: 40%;
                        margin: 0 auto;
                        display: block;
                        color:$text-light;
                        background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
                    }
            }
        }
    }
}

// ------------------footer-------------------------

.footer{
    padding-top: 70px;
    .container{
        .row{
            .col-4{
                
                h1{
                    @include text($fs-3xl,$fw-semiBold ,$text-light )
                }
                p{
                    @include text($fs-semibase,$fw-line ,$text-light )

                }
                a{
                    text-decoration: none;
                    @include text($fs-small,$fw-line ,$text-dangerous )
                }
            }
            
        }
    }
}
